:root {
    --green: #14bdac;
    --dark-green: #089f8f;
    --light-gray: #dcdedd;
    --gray: #5e5e5e;
}

#main-content{
    border: 1px solid var(--light-gray);
    border-radius: .5rem;
    max-width: 36rem;
    margin: auto;
}

.player-button{
    padding: .25rem 4rem; 
    border: 1px solid var(--light-gray); 
    border-radius: .25rem;
}

.caro-zone{
    background-color: var(--green);
    padding: 1rem 0;
}

.current-status{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-status svg{
    margin-right: .25rem;
}

.btn-restart{
    width: 100%;
    border: none;
    background: white;
    color: var(--green);
    font-weight: 600;
}

table{
    border-collapse: collapse;
    margin: auto;
}

.grid-item{
    width: 4rem;
    height: 4rem;
    border: 5px solid var(--dark-green);
    text-align: center;
}

.grid-container:nth-child(1),
.grid-item{
  border-right: none;
}

.grid-container:nth-child(3),
.grid-item {
  border-top: none;
}